.ContenedorCarrusel {
    height: 100vh;
}

.carrusel {
    padding: 0%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.carruselAutos {
    margin-bottom: 10%;
    height: 40vh;
}
