* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;    
    color: black;   
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Old Standard TT', serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


