.header {
	padding: 5 2%;
	position: sticky;
	height: 22vh;
	width: 100;
	background-color: #F6F6F6;
}
.headerNav {
	height: 20vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "inicio logo auto";
	li {
		list-style: none;
		display: inline-block;
	}
}
.inicio {
	grid-area: inicio;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 12%;
	color: #000000;
}
.headerLogo {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 21vh;
	img {
		width: 78%;
		height: 45vh;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}
.auto {
	grid-area: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 12%;
	color: #F5EDED;
}
