.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin dimension($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.header {
	@include dimension(100vw, 26vh);
	padding: 5 2%;
	position: sticky;
	background-color: #F6F6F6;
}
.headerNav {
	height: 20vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "inicio logo auto";
	li {
		list-style: none;
		display: inline-block;
	}
}
.inicio {
	grid-area: inicio;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 12%;
	color: #000000;
}
.headerLogo {
	grid-area: logo;
	@extend .flex;
	width: 100%;
	height: 21vh;
	img {
		width: 78%;
		height: 45vh;
	}
}
.auto{
	grid-area: auto;
	@extend .flex;
	padding-top: 12%;
	color: #F5EDED;
}
