* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;    
    color: black;   
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Old Standard TT', serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.boton {
    background-color: #D72323;
}

/*Header*/


.header {
    padding: 5 2%;
    position: sticky;
    height: 22vh;
    width: 100;
    background-color: #F6F6F6;

}


.headerNav {
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "inicio logo auto";
}

.inicio {
    grid-area: inicio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;

    color: #000000;
}

.headerLogo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;

}

.auto {
    grid-area: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;

    color: #F5EDED;
}

.headerLogo {
    width: 100%;
    height: 21vh;

}

.headerLogo img {
    width: 78%;
    height: 45vh;
    display: flex;
    justify-content: center;
    text-align: center;

}

.headerNav li  {
    list-style: none;
    display: inline-block;

}

/* carrusel */
.ContenedorCarrusel {
    height: 80vh;
}

.ContenedorCarrusel {
    height: 100vh;
}

.carrusel {
    padding: 0%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Footer */

.footer {
    background-color: #F6F6F6;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo marcas";
}

.footerLogo {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.footerMarcas {
    grid-area: marcas;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerFord {
    grid-area: ford;
}

.footerDodge {
    grid-area: dodge;
}

.footerChevy {
    grid-area: chevy;
}

.footerLogo img {
    height: 30vh;
}

.footerMarcas img {
    height: 10vh;
}